@import "./header-nav.css";
@import "./header-buttons.css";
@import "./header-account_div.css";

header
{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    
    background-color: #858585;
    color: white;
    
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    
    z-index: 10;
}