main
{
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}

main form
{
	width: 50%;
	height: 85%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
	gap: 5%;

	padding: 25px 15px 25px;

	background-color: #858585;

	border-radius: 15px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

main form h1
{
	grid-column: span 2;
}

main form label
{
	display: flex;
	flex-direction: column;

	margin-bottom: 15px;

	font-size: 25px;
}

main form label input
{
	padding: 5px 5px;

	margin-top: 5px;

	font-size: 20px;

	border-radius: 5px;
	border: 0;
}

main form .poster-label
{
	grid-column: span 2;

	font-size: 20px;
}

main form .poster-label input
{
	font-size: 18px;
}

main form button
{
	grid-column: span 2;
	justify-self: center;

	font-size: 18px;

	padding: 10px 75px;

	border: 0;
	border-radius: 15px;

	background-color: rgb(76, 175, 80);
	color: white;

	cursor: pointer;
}

main form button:hover
{
	background-color: #45a049;

	transition: background-color 0.2s ease;
}