footer
{
	width: 100%;

	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 15px;
	padding: 10px;

	background-color: #858585;
	color: white;
	
	box-shadow: -1px 0px 15px rgb(30, 30, 30);
}